* {

    padding: 0;
    margin: 0;

}
#contenedor{
    width: 1000px;
    height: 900px;
    background-color: bisque;
    max-width: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#encabezado{
    height: 15%;
    background-color: rgb(40, 185, 83);
    margin: 1em auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#navegacion{
    height: 5%;
    background-color: rgb(36, 129, 64);
    margin: 1em auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#contenido{
    height: 70%;
    background-color: rgb(190, 68, 68);
    margin: 1em auto;
}

#pie{
    height: 10%;
    text-align: center;
    background-color: rgb(94, 148, 94);
    font-family: Arial, Helvetica, sans-serif;
}

.texto {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 1em;
    margin-right: 1em;
}

.imagen {
    border: 1px solid rgb(104, 230, 131);
    margin-left: 15px;
    margin-right: 15px;
    margin: auto;
    display:inline;
    border-radius: 4px;
    max-width: 100px;
}

ul{
    text-align: center;
}
li{
    margin: auto 2em;
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-style: italic;
}
